<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124268875090-ck7vkhi05iqt3vm2a4c8mnq8bgjinof9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124268875090-ck7vkhi05iqt3vm2a4c8mnq8bgjinof9</string>
	<key>API_KEY</key>
	<string>AIzaSyABmNwEy8baKbKmVCHyhOtN7e7NnEVNQdU</string>
	<key>GCM_SENDER_ID</key>
	<string>124268875090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kaledinaoa.Dating</string>
	<key>PROJECT_ID</key>
	<string>dating-3f8ca</string>
	<key>STORAGE_BUCKET</key>
	<string>dating-3f8ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124268875090:ios:bb240f9ae4080aa35abe8b</string>
</dict>
</plist>